<div class="container">
  <div class="text-content" role="region" [attr.aria-label]="ariaLabel || name || 'Content'">
    <ng-container *ngIf="nonCollapsible; else animated">
      <div id="{{name}}" #description [innerHtml]="content | detectLanguage"
      class="full-height"></div>
    </ng-container>
    <ng-template #animated>
      <div id="{{name}}" #description [innerHtml]="content | detectLanguage"
        [ngClass]="{
          'limit-height': isTruncating && !isInPopup,
          'limit-height-popup': isTruncating && isInPopup,
          'full-height-animated': !isTruncating && !isInPopup,
          'full-height-popup': !isTruncating && isInPopup
        }"
        [attr.aria-expanded]="!isTruncating"
        style="overflow-wrap: anywhere;">
      </div>
    </ng-template>
  </div>

  <ng-container *ngIf="heightExceeded">
    <ion-button mode="ios" color="primary" fill="clear"
      #toggleButton
      (click)="openShut()"
      (keydown.enter)="openShut()"
      (keydown.space)="openShut(); $event.preventDefault()"
      [attr.aria-expanded]="!isTruncating"
      [attr.aria-controls]="name"
      [attr.aria-label]="isTruncating ? ('Show more of ' + (ariaLabel || 'content')) : ('Show less of ' + (ariaLabel || 'content'))"
      i18n-aria-label
      class="ion-focusable">
      <ng-container *ngIf="isTruncating">
        <ng-container i18n="expand article">MORE</ng-container>
        <ion-icon slot="end" name="arrow-forward" aria-hidden="true"></ion-icon>
      </ng-container>
      <ng-container *ngIf="!isTruncating">
        <ion-icon slot="start" name="arrow-back" aria-hidden="true"></ion-icon>
        <ng-container i18n="shrink article">LESS</ng-container>
      </ng-container>
    </ion-button>
  </ng-container>
</div>
