<ng-container class='ion-padding' *ngIf="page === 'settings'">
  <ion-label class="subtitle-2 gray-2">Mobile number - for important SMS notifications</ion-label>
  <ion-card class="practera-card" [ngClass]="{'desktop-view': !utils.isMobile()}">
    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <ion-label position="stacked" for="contact-country-select" class="for-accessibility">Country code</ion-label>
            <ion-select 
              id="contact-country-select"
              class="subtitle-1" 
              [(ngModel)]="countryModel" 
              (ionChange)="updateCountry()"
              aria-label="Select country code">
              <ion-select-option *ngFor="let countryCode of contactNumberFormat.countryCodes" [value]="countryCode.code">{{countryCode.code}} {{contactNumberFormat.masks[countryCode.code].format}}</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col>
            <ion-label position="stacked" for="contact-number-input" class="for-accessibility">Mobile number</ion-label>
            <input 
              id="contact-number-input"
              type="tel"
              autocomplete="tel"
              [attr.maxlength]="activeCountryModelInfo.length"
              pattern="{{activeCountryModelInfo.pattern}}"
              placeholder="{{activeCountryModelInfo.placeholder}}"
              [(ngModel)]="contactNumber"
              class="contact-input subtitle-1 gray-1"
              (keydown)="disableArrowKeys($event)"
              (keyup)="formatContactNumber()" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  <ion-button class="practera-btn" [ngClass]="{'mobile-btn': utils.isMobile()}" [disabled]="updating" (click)="updateContactNumber()" aria-label="update contact number" role="button">
    <ng-container *ngIf="!updating">Update</ng-container>
    <ng-container *ngIf="updating">Updating..</ng-container>
  </ion-button>
</ng-container>
<ng-container *ngIf="page === 'go-mobile'">
  <ion-item lines="none" class="text-field">
    <ion-grid>
      <ion-row class="contact-details">
        <ion-col size="4">
          <p class="country-code">{{activeCountryModelInfo.countryCode}}</p>
        </ion-col>
        <ion-col>
          <ion-label position="stacked" for="go-mobile-contact-input" class="for-accessibility">Mobile number</ion-label>
          <input 
            id="go-mobile-contact-input"
            type="tel"
            autocomplete="tel"
            [attr.maxlength]="activeCountryModelInfo.length"
            pattern="{{activeCountryModelInfo.pattern}}"
            placeholder="{{activeCountryModelInfo.placeholder}}"
            [(ngModel)]="contactNumber"
            class="contact-input"
            (keydown)="disableArrowKeys($event)"
            (blur)="formatContactNumber()"
            (keyup)="formatContactNumber()" />
        </ion-col>
        <ion-col size="5">
          <ion-label position="stacked" for="go-mobile-country-select" class="for-accessibility">Country</ion-label>
          <ion-select 
            id="go-mobile-country-select"
            placeholder="Select Country"
            name="countryModel"
            [(ngModel)]="countryModel"
            (ionChange)="updateCountry()"
            aria-label="Select country">
            <ion-select-option *ngFor="let countryCode of contactNumberFormat.countryCodes" [value]="countryCode.code">
              {{countryCode.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ng-container>
