.list-terms {
  text-align: left;
  background: transparent;
  margin: auto;
  margin-top: 16px;
  max-width: 480px;

  ion-checkbox {
    vertical-align: middle;
    margin-right: 16px;
  }

  a {
    cursor: pointer;
  }
}

#registerAgreement:focus {
  outline: var(--ion-color-primary) auto;
}

.title {
  .headline-6 {
    font-size: 19px !important;
  }

  &.directlink {
    text-align: center;
    margin: 0 auto 12px;
    max-width: 520px;
    width: 100%;
  }
}

.div-after-logo {
  &.directlink {
    margin: 0 auto !important;
    max-width: 520px;
    padding: 0 16px;
    text-align: center;

    .continue-btn {
      max-width: 470px;
      margin: auto;
    }
  }
}

.tc-container{
  margin-bottom: 65px !important;
  text-align: center;
}
.password-container {
  margin-bottom: 50px !important;
  text-align: center;
}
