# Root EditorConfig file
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript & JavaScript
[*.{ts,js}]
quote_type = single

# JSON (e.g., package.json, tsconfig.json)
[*.json]
quote_type = double
indent_size = 2

# YAML files (e.g., CI/CD, Firebase configs)
[*.{yml,yaml}]
indent_size = 2

# HTML, CSS, SCSS files
[*.{html,css,scss}]
indent_size = 2

# Markdown (e.g., README.md)
[*.md]
max_line_length = off
insert_final_newline = false
trim_trailing_whitespace = false

[*.xlf]
trim_trailing_whitespace = false

# Prettier & ESLint config files
[*.{prettierrc,eslintrc,editorconfig}]
indent_size = 2
quote_type = double
