@if (file) {
  <h3 class="for-accessibility">Quick file display of uploaded file</h3>
  @switch (fileType) {
    @case ('image') {
      <app-img [imgSrc]="file.directUrl || file.url" alt="generic image uploaded by user" i18n-alt></app-img>
      @if (isFileComponent) {
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      }
    }
    @case ('video') {
      <video controls preload #videoEle>
        <source [src]="file.directUrl || file.url">
      </video>
      @if (isFileComponent) {
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      }
    }
    @case ('any') {
      @if (isFileComponent) {
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      } @else {
        <ion-item
          class="file-row"
          [lines]="lines"
          button
          detail="false"
          (click)="openFilePreview($event)"
          (keydown.enter)="openFilePreview($event)"
          (keydown.space)="openFilePreview($event); $event.preventDefault()"
          [attr.aria-label]="'Open file ' + file.name"
          tabindex="0"
        >
          <ion-icon name="document" slot="start" aria-hidden="true"></ion-icon>
          <ion-label class="file-name-label">{{ file.name }}</ion-label>
          @for (actionBtnIcon of endingActionBtnIcons; track actionBtnIcon; let i = $index) {
            <ion-button
              mode="ios"
              fill="clear"
              slot="end"
              (click)="onActionClick($event, file, i)"
              (keydown.enter)="onActionClick($event, file, i)"
              (keydown.space)="onActionClick($event, file, i); $event.preventDefault()"
              [attr.aria-label]="actionBtnIcon === 'download' ? 'Download file' : 'Remove file'"
              i18n-aria-label
            >
              <ion-icon [name]="actionBtnIcon" aria-hidden="true"></ion-icon>
            </ion-button>
          }
        </ion-item>
      }
    }
  }
}

<ng-template #fileDetails>
  <ion-item
    class="file-row"
    [lines]="lines"
    button
    detail="false"
    (click)="openFilePreview($event)"
    (keydown.enter)="openFilePreview($event)"
    (keydown.space)="openFilePreview($event); $event.preventDefault()"
    [attr.aria-label]="'Open file ' + (file.name || file.filename)"
    tabindex="0"
  >
    <ion-icon name="document" slot="start" aria-hidden="true"></ion-icon>
    <ion-label class="file-name-label">{{ file.name || file.filename }}</ion-label>
    @for (actionBtnIcon of endingActionBtnIcons; track actionBtnIcon; let i = $index) {
      <ion-button
        mode="ios"
        fill="clear"
        slot="end"
        (click)="onActionClick($event, file, i)"
        (keydown.enter)="onActionClick($event, file, i)"
        (keydown.space)="onActionClick($event, file, i); $event.preventDefault()"
        [attr.aria-label]="actionBtnIcon === 'download' ? 'Download file' : 'Remove file'"
        i18n-aria-label
      >
        <ion-icon [name]="actionBtnIcon" aria-hidden="true"></ion-icon>
      </ion-button>
    }
  </ion-item>
</ng-template>
