@if (file) {
  <h3 class="for-accessibility">Quick file display of uploaded file</h3>
  @switch (fileType) {
    @case ('image') {
      <app-img [imgSrc]="file.directUrl || file.url" alt="generic image uploaded by user" i18n-alt></app-img>
      @if (isFileComponent) {
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      }
    }
    @case ('video') {
      <video controls preload #videoEle>
        <source [src]="file.directUrl || file.url">
      </video>
      @if (isFileComponent) {
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      }
    }
    @case ('any') {
      @if (isFileComponent) {
        <ng-container *ngTemplateOutlet="fileDetails"></ng-container>
      } @else {
        <app-list-item
          [title]="file.name"
          leadingIcon="document"
          [lines]="lines"
          [endingActionBtnIcons]="endingActionBtnIcons"
          (actionBtnClick)="actionBtnClick(file, $event)"
        ></app-list-item>
      }
    }
  }
}

<ng-template #fileDetails>
  <app-list-item
    [title]="file.name || file.filename"
    leadingIcon="document"
    [lines]="lines"
    [endingActionBtnIcons]="endingActionBtnIcons"
    (actionBtnClick)="actionBtnClick(file, $event)"
  ></app-list-item>
</ng-template>
