<div class="uppy-uploader-wrapper">
  <div *ngIf="isCompressing" class="compression-overlay">
    <div class="compression-status">
      <div class="compression-icon">
        <ion-icon name="videocam-outline" color="primary"></ion-icon>
      </div>
      <ion-spinner name="crescent" color="primary"></ion-spinner>
      <h3 class="body-1" i18n>Compressing video...</h3>
      <p class="body-2 gray-3" i18n>Please wait, this may take a moment</p>
      <ion-progress-bar [value]="compressionProgress / 100" color="primary"></ion-progress-bar>
      <p class="body-2 percentage">{{ compressionProgress }}%</p>
    </div>
  </div>

  <uppy-dashboard-modal [hidden]="isCompressing"
    [uppy]="uppy"
    [props]="uppyProps">
  </uppy-dashboard-modal>
</div>
