.team-roster {
  margin-top: 16px;
  padding: 0 16px 16px;
}

.team-roster-title {
  margin: 0 0 8px;
}

.team-member-item {
  --padding-start: 0;
}

ion-badge {
  margin-top: 4px;
  font-weight: 500;
}
