<ion-app>
  <!-- Skip navigation links for WCAG 2.4.1 -->
  <a href="#main-content" class="skip-link">Skip to main content</a>
  <a href="#main-navigation" class="skip-link">Skip to navigation</a>
  
  <ng-container *ngIf="checkCustom('header')">
    <div [ngClass]="{'mobile': utils.isMobile()}" [innerHtml]="customHeader"></div>
  </ng-container>
  <ion-router-outlet [ngClass]="{
    'custom-header': checkCustom('header'),
    'mobile':utils.isMobile()
  }" id="main-content"></ion-router-outlet>
</ion-app>
