<ion-header class=" ion-no-border"
  aria-label="Pulse check">
  <ion-toolbar>
    <ion-title class="ion-text-center"
    i18n="user feedback form">Pulse Check</ion-title>
    @if (closable === true) {
      <ion-buttons slot="end"
        >
        <ion-button (click)="dismiss({ from: 'ui' })"
          aria-label="Close pulse check" i18n-aria-label>
          <ion-icon name="close" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    @switch (pulseCheckType) {
      @case ('skills') {
        <p class="body-1" i18n>
        Select the skill level that best describes you right now.
      </p>
      }
      @case ('onTrack') {
        <p class="body-1" i18n>
        Please help us improve your experience.<br>
        We want to know how you are doing.
      </p>
      }
      @case ('both') {
        <p class="body-1" i18n>
        Please help us improve your experience.<br>
        We want to know how you are doing and how confident you feel about your skills.
      </p>
      }
      @default {
        <p class="body-1" i18n>
        Please help us improve your experience.<br>
        We want to know how you are doing.
      </p>
      }
    }
  </div>

  <form (ngSubmit)="submit()"
    [formGroup]="fastFeedbackForm">
    @if (showPagination) {
      <div
        class="progress-indicator ion-text-center ion-margin-bottom">
        <span>Questions {{ currentPageRange.start }}-{{ currentPageRange.end }} of {{ currentPageRange.total }}</span>
        <ion-progress-bar [value]="(currentPage + 1) / totalPages"></ion-progress-bar>
      </div>
    }

    <div class="questions-container">
      @for (question of currentPageQuestions; track question) {
        <ion-card
          class="ion-text-left ion-no-margin ion-margin-bottom ion-padding question-card"
          [ngClass]="{'ion-padding-horizontal': !isMobile }">
          <fieldset [attr.aria-labelledby]="'fast-feedback-question-' + question.id">
            <legend class="for-accessibility" [id]="'fast-feedback-question-' + question.id">{{ question.name }}</legend>
            <ion-list-header class="question-title">
              <ion-label>
                <h2 [innerHTML]="question.name" [id]="'fast-feedback-question-title-' + question.id"></h2>
                <p><i [innerHTML]="question.description"></i></p>
              </ion-label>
              @if (question.isRequired) {
                <ion-text class="required-mark"
                  [ngClass]="{'contrast': isRedColor}"
                aria-label="required">*</ion-text>
              }
            </ion-list-header>
            <ion-radio-group
              [formControlName]="question.id"
              role="radiogroup"
              [attr.aria-labelledby]="'fast-feedback-question-' + question.id"
              class="ion-padding-start ion-padding-end ion-padding-bottom">
              @for (choice of question.choices; track choice) {
                <ion-item class="item-bottom-border choice-item"
                  lines="none"
                  [ngClass]="{'mobile-choice': isMobile}"
                  (mouseenter)="onChoiceHover(question.id, choice.id)"
                  (mouseleave)="onChoiceLeave()"
                  (focus)="onChoiceHover(question.id, choice.id)"
                  (blur)="onChoiceLeave()">
                  <ion-radio [value]="choice.id"
                    [attr.aria-label]="choice.name"
                    labelPlacement="end"
                    slot="start"
                    mode="md">
                    <div class="choice-title-container">
                      <span [innerHTML]="choice.name"></span>
                    </div>
                    @if (choice.description && isChoiceDescriptionVisible(question.id, choice.id)) {
                      <p
                        class="choice-description body-3 ion-margin-top animate-fade-in"
                      [innerHTML]="choice.description"></p>
                    }
                  </ion-radio>
                </ion-item>
              }
            </ion-radio-group>
          </fieldset>
        </ion-card>
      }

      @if (showPagination) {
        <div
          class="navigation-buttons ion-margin-top">
          <ion-row>
            <ion-col size="6"
              class="ion-text-left">
              <ion-button fill="outline"
                [disabled]="currentPage === 0"
                (click)="previousPage()"
                mode="ios">
                <ion-icon name="arrow-back-outline"
                slot="start"></ion-icon>
                Previous
              </ion-button>
            </ion-col>
            <ion-col size="6"
              class="ion-text-right">
              @if (currentPage < totalPages - 1) {
                <ion-button fill="outline"
                  [disabled]="!isCurrentPageValid()"
                  (click)="nextPage()"
                  mode="ios">
                  Next
                  <ion-icon name="arrow-forward-outline"
                  slot="end"></ion-icon>
                </ion-button>
              }
              @if (currentPage === totalPages - 1) {
                <ion-button mode="ios"
                  type="submit"
                  shape="round"
                  class="submit-button"
                  [disabled]="fastFeedbackForm.invalid || loading">
                  @if (!loading) {
                    <ng-container
                    i18n>Submit</ng-container>
                  }
                  @if (loading && !submissionCompleted) {
                    <ion-spinner name="dots"></ion-spinner>
                  }
                  @if (loading && submissionCompleted) {
                    <ion-icon src="./assets/checkmark.svg"></ion-icon>
                  }
                </ion-button>
              }
            </ion-col>
          </ion-row>
        </div>
      }

      @if (!showPagination) {
        <div
          class="ion-text-center ion-margin-top">
          <ion-button mode="ios"
            type="submit"
            shape="round"
            class="submit-button"
            [disabled]="fastFeedbackForm.invalid || loading">
            @if (!loading) {
              <ng-container
              i18n>Submit</ng-container>
            }
            @if (loading && !submissionCompleted) {
              <ion-spinner name="dots"></ion-spinner>
            }
            @if (loading && submissionCompleted) {
              <ion-icon src="./assets/checkmark.svg"></ion-icon>
            }
          </ion-button>
        </div>
      }

      @if (showPagination) {
        <div
          class="dot-indicators ion-text-center ion-margin-top">
          @for (i of [].constructor(totalPages); track i; let pageIndex = $index) {
            <ion-button
              fill="clear"
              size="small"
              class="dot-button"
              [ngClass]="{'active': currentPage === pageIndex, 'completed': isPageCompleted(pageIndex)}"
              (click)="goToPage(pageIndex)"
              [attr.aria-label]="'Go to page ' + (pageIndex + 1) + (isPageCompleted(pageIndex) ? ', completed' : '')"
              i18n-aria-label>
              <span class="page-number">
                @if (currentPage === pageIndex) {
                  {{ pageIndex + 1 }}
                }
                @if (currentPage !== pageIndex && isPageCompleted(pageIndex)) {
                  <ion-icon name="checkmark-circle" aria-hidden="true"></ion-icon>
                }
                @if (currentPage !== pageIndex && !isPageCompleted(pageIndex)) {
                  {{ pageIndex + 1 }}
                }
              </span>
            </ion-button>
          }
        </div>
      }
    </div>
  </form>

</ion-content>
