<ion-header class=" ion-no-border" aria-label="Pulse check">
  <ion-toolbar>
    <ion-title class="ion-text-center" i18n="user feedback form">Pulse Check</ion-title>
    <ion-buttons slot="end" *ngIf="closable === true">
      <ion-button (click)="dismiss({ from: 'ui' })">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <p class="body-1" i18n>Please help us to improve your experience.<br>We want to know how are you doing.</p>
  </div>

  <form (ngSubmit)="submit()" [formGroup]="fastFeedbackForm">
    <ion-card *ngFor="let question of questions"
      class="ion-text-left ion-no-margin ion-margin-bottom ion-padding question-card"
      [ngClass]="{'ion-padding-horizontal': !isMobile }">
      <ion-list-header class="question-title">
        <ion-label>
          <h2 [innerHTML]="question.name"></h2>
          <p><i [innerHTML]="question.description"></i></p>
        </ion-label>
        <ion-text class="required-mark" [ngClass]="{'contrast': isRedColor}" *ngIf="question.isRequired">*</ion-text>
      </ion-list-header>

      <ion-radio-group [formControlName]="question.id" class="ion-padding-start ion-padding-end ion-padding-bottom">
        <ion-item class="item-bottom-border"
          *ngFor="let choice of question.choices"
          lines="none"
        >
          <ion-radio [value]="choice.id"
            [ariaLabel]="choice.name"
            labelPlacement="end"
            slot="start" mode="md">
            <ion-label class="white-space-normal" [innerHTML]="choice.name"></ion-label>
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card>

    <div class="ion-text-center ion-margin-top">
      <ion-button mode="ios" type="submit"
        [disabled]="fastFeedbackForm.invalid || loading"
        shape="round"
        class="btn-cta"
      >
        <ng-container *ngIf="!loading" i18n>Submit</ng-container>
        <ng-container *ngIf="loading && !submissionCompleted">
          <ion-spinner name="dots"></ion-spinner>
        </ng-container>
        <ng-container *ngIf="loading && submissionCompleted">
          <ion-icon src="./assets/checkmark.svg"></ion-icon>
        </ng-container>
      </ion-button>
    </div>
  </form>

</ion-content>
