<ng-container *ngIf="submissionStatus !== 'in progress' && submission.answer">
  <div class="ion-padding-horizontal ion-padding-bottom">
      <p class="paragraph body-2 gray-3">{{ submission.answer }}</p>
  </div>
  </ng-container>

  <div *ngIf="reviewStatus !== 'in progress' && (review.answer || review.comment)" class="ion-padding"
  [ngClass]="{ 'audience-mentor': audienceContainReviewer()}">
    <ion-label *ngIf="audienceContainReviewer()" class="q-title subtitle-2 black ion-padding-vertical">Reviewer’s feedback</ion-label>
    <ng-container *ngIf="review.answer">
      <p class="paragraph body-2 gray-3">{{ review.answer }}</p>
    </ng-container>
    <ng-container *ngIf="review.comment">
      <p class="paragraph body-2 gray-3">{{ review.comment }}</p>
    </ng-container>
  </div>

  <ng-container *ngIf="doAssessment">
    <div class="ion-padding-horizontal ion-padding-bottom">
        <ion-label position="stacked" [attr.for]="'text-answer-' + question.id" class="for-accessibility">{{ question.name }}</ion-label>
        <ion-textarea
        [id]="'text-answer-' + question.id"
        class="background-white ion-margin-top textarea"
        [(ngModel)]="answer"
        #answerEle
        rows="4"
        (ionFocus)="onFocus()"
        (ionChange)="onChange()"
        [disabled]="control.disabled"
        [attr.aria-describedby]="errors.length > 0 ? 'text-error-' + question.id : null"
        [attr.aria-invalid]="errors.length > 0 ? 'true' : null"></ion-textarea>
      <ion-text *ngFor="let error of errors; let i = index" [id]="'text-error-' + question.id" color="danger" role="alert" aria-live="polite">
        <p>{{error}}</p>
      </ion-text>
    </div>
  </ng-container>

  <ng-container *ngIf="doReview">
    <div class="ion-padding" [ngClass]="{ 'audience-mentor': audienceContainReviewer()}">
        <ion-label position="stacked" [attr.for]="'text-review-answer-' + question.id" *ngIf="question.canAnswer" class="for-accessibility">Your answer</ion-label>
        <ion-textarea
        *ngIf="question.canAnswer"
        [id]="'text-review-answer-' + question.id"
        class="textarea"
        rows="4"
        [(ngModel)]="answer"
        #answerEle
        (ionFocus)="onFocus()"
        (ionChange)="onChange('answer')"
        placeholder="Please put your answer here"
        [disabled]="control.disabled"></ion-textarea>
        <ion-label position="stacked" [attr.for]="'text-review-comment-' + question.id" *ngIf="question.canComment && submission.answer" class="for-accessibility">Your feedback</ion-label>
      <ion-textarea
        *ngIf="question.canComment && submission.answer"
        [id]="'text-review-comment-' + question.id"
        class="textarea"
        [(ngModel)]="comment"
        #commentEle
        rows="4"
        (ionFocus)="onFocus()"
        (ionChange)="onChange('comment')"
        placeholder="Please put your feedback here"
        [disabled]="control.disabled"></ion-textarea>
    </div>
  </ng-container>
