.todo-card {
  ion-icon {
    margin-right: 16px;
  }
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #fff;
  min-height: 58px;
}

.focusable:focus {
  outline: 2px solid var(--ion-color-primary);
  outline-offset: -2px;
}

