<ion-content color="light" class="ion-text-center">
  <header>
    <h1 class="for-accessibility" i18n>Direct Login</h1>
    <div class="div-logo">
      <app-branding-logo></app-branding-logo>
    </div>
  </header>
  <main aria-label="authentication" aria-live="polite" aria-busy="true">
    <div class="div-after-logo">
      <p role="status" aria-live="polite" i18n>We are redirecting you to the page you want to go to, please be patient
        <ion-spinner name="dots" class="vertical-middle" aria-label="Loading" i18n-aria-label role="img"></ion-spinner>
      </p>
    </div>
  </main>
</ion-content>
