<ion-content color="light" text-center>
  <div class="content">
    <!-- div-logo is always shown; it must live outside [ngSwitch] -->
    <div class="div-logo">
      <ng-container *ngIf="data?.logo">
        <ion-icon [name]="data.logo"
          size="large"></ion-icon>
      </ng-container>
    </div>

    <ng-container [ngSwitch]="type">
      <!-- Forgot Password Confirmation -->
      <ng-container *ngSwitchCase="'forgotPasswordConfirmation'">
        <div class="div-after-logo">
          <p i18n>We have sent an email to "<i [innerHTML]="data.email"></i>" with a link to log into the system - please
            check your inbox.</p>
          <p i18n>If you haven't received an email in a few minutes, please make sure the email you entered is correct and
            check your spam folder. Thank you.</p>
          </div>
          </ng-container>

      <!-- Short Message -->
      <ng-container *ngSwitchCase="'shortMessage'">
        <div class="div-after-logo"
          text-left>
          <p id="popup-message"
            [innerHTML]="data.message"></p>
        </div>
        </ng-container>

      <!-- Short Message -->
      <ng-container *ngSwitchCase="'guidelines'">
        <div class="div-after-logo"
          text-left>
          <p id="popup-message"
            [innerHTML]="data.message"></p>
          <ng-container *ngIf="data.routes">
            <ol>
              <li *ngFor="let route of data.routes">
                <div (click)="goTo(route.path)"
                class="link"
                [innerHTML]="route.label"></div>
              </li>
            </ol>
          </ng-container>
        </div>
        </ng-container>

      <!-- Pulsecheck Status Information -->
      <ng-container *ngSwitchCase="'pulseCheckStatus'">
        <div class="div-after-logo">
          <p class="status-info">
            This shows how you, your team, and reviewers of your team's work feel about whether your project is on track.
          </p>
          <p class="status-info">
            <span class="green">Green</span> is on track, <span class="red">red</span> is potentially off track. <span
              class="yellow">Yellow</span> means mixed views.
          </p>
        </div>
        </ng-container>

    </ng-container>

    <div class="div-after-logo">
      <ion-button mode="ios"
        id="btn-popup-confirm"
        (click)="confirmed()"
        shape="round"
        color="primary"
        expand="full"
        i18n="dismiss button">OK</ion-button>
    </div>
  </div>
</ion-content>
