@if (result?.status === 'completed') {
  <div class="video-conversion"
    (click)="showPreview(result)"
    (keydown)="showPreview(result, $event)"
    tabindex="0"
    role="button">
    <p class="label" [title]="video?.fileObject?.filename" [innerHTML]="video?.fileObject?.filename"></p>
    <div [attr.id]="'inner-box-video-' + video?.fileObject?.uuid">
      <p>
        <ion-icon name="play-circle" aria-hidden="true"></ion-icon>
      </p>
    </div>
  </div>
} @else {
  @if (waitedTooLong === false) {
    <div class="waiting-mgs" i18n>
      <ion-spinner name="bubbles"></ion-spinner>please wait
    </div>
  } @else {
    <div>
      <p i18n>Waited too long?</p>
      <p i18n>Download <a target="_blank" href="{{video?.fileObject?.url}}" class="contrast">here</a></p>
    </div>
  }
}


