<ion-header>
  <ion-toolbar>
    <ion-title>devtool</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Viewport Size Display -->
  <div class="viewport-size">
    <h4>Logical Viewport Size</h4>
    <p>Width: {{ viewportWidth }} px</p>
    <p>Height: {{ viewportHeight }} px</p>
  </div>

  <div class="tools">
    <h4>Testing tools</h4>
    <ion-grid>
      <ion-row>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button routerLink="/v3">Go /</ion-button>
        </ion-col>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button routerLink="/v3/settings">Go Setting</ion-button>
        </ion-col>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button (click)="getbadges()">Get Badges</ion-button>
        </ion-col>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button (click)="refresh()">Refresh JWT</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button (click)="pulsecheck()">Pulse check</ion-button>
        </ion-col>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button (click)="reviewrating()">Rating</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button (click)="testAuth()">testAuth</ion-button>
        </ion-col>
        <ion-col size="4" size-sm="3" size-xs="2">
          <ion-button (click)="testAuth(true)">testAuth-apikey</ion-button>
        </ion-col>
        <ion-col size="4" size-sm="3" size-xs="2">
          <!-- Optional placeholder -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-container class="device-info" *ngIf="info">
    <h4>Device Information</h4>
    <ion-list>
      <ion-item>
        <ion-label>User Agent</ion-label>
        <ion-text>{{ info.userAgent }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Viewport Width</ion-label>
        <ion-text>{{ info.viewportWidth }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Viewport Height</ion-label>
        <ion-text>{{ info.viewportHeight }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Screen Width</ion-label>
        <ion-text>{{ info.screenWidth }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Screen Height</ion-label>
        <ion-text>{{ info.screenHeight }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Pixel Ratio</ion-label>
        <ion-text>{{ info.pixelRatio }}</ion-text>
      </ion-item>
      <ion-item *ngIf="info.location">
        <ion-label>Location</ion-label>
        <ion-text>
          Latitude: {{ info.location.latitude }}, Longitude: {{ info.location.longitude }}
        </ion-text>
      </ion-item>
    </ion-list>
  </ng-container>

  <h4>Task Unlock indicator</h4>
  <ion-button (click)="triggerAchievement()">MarkAsDone</ion-button>
  <ion-button (click)="getTodoList()">Todo Items</ion-button>
  <ion-button (click)="markAllUnlockTaskDone()">Mask all done</ion-button>

  <p>Mark done with identifier</p>
  <ion-input type="text" [(ngModel)]="identifier" placeholder="identifier"></ion-input>
  <ion-button (click)="triggerAchievement(identifier)">Submit</ion-button>

  <pre *ngIf="sample">{{ sample | json }}</pre>

  <ion-text *ngIf="doneLogin">
    <p>{{ user | json }}</p>
  </ion-text>

  <h4>Developer purpose only - Colors Example</h4>
  <p>Branding Colors</p>
  <ion-button color="arctic">Arctic</ion-button>
  <ion-button color="lime">Lime</ion-button>
  <ion-button color="violet">Violet</ion-button>
  <ion-button color="ocean">Ocean</ion-button>
  <ion-button color="dark-blue">Dark Blue</ion-button>
  <ion-button color="yellow">Yellow</ion-button>
  <ion-button color="orange">Orange</ion-button>
  <p>Grey Colors</p>
  <ion-button color="grey-100">Grey 100</ion-button>
  <ion-button color="grey-75">Grey 75</ion-button>
  <ion-button color="grey-50">Grey 50</ion-button>
  <ion-button color="grey-25">Grey 25</ion-button>
  <p>Light Grey Colors</p>
  <ion-button color="light-grey-100">Light Grey 100</ion-button>
  <ion-button color="light-grey-75">Light Grey 75</ion-button>
  <ion-button color="light-grey-50">Light Grey 50</ion-button>
  <ion-button color="light-grey-25">Light Grey 25</ion-button>

  <br>
  <br>
  <h3>Auth Urls</h3>
  <ion-button routerLink="/auth/login">login</ion-button>
  <ion-button routerLink="/auth/forgot_password">forgot password</ion-button>
  <ion-button routerLink="/auth/reset_password/key/email">reset password</ion-button>
  <ion-button routerLink="/auth/secure/authToken">direct login page</ion-button>
  <ion-button routerLink="/auth/global_login/apikey">global login page</ion-button>
  <br>
  <h4> we have 2 different UIs for registration page</h4>
  <h5>This is same page. but showing different UI based on user.</h5>
  <p>One for normal registration - regitration page for leanners and experts</p>
  <ion-button routerLink="/auth/registration/email/key">registration</ion-button>
  <br>
  <p>Registration page for unRegistered users who accessing app through direct links</p>
  <ion-button routerLink="/auth/registration/email/unRegister">registration</ion-button>
  <br>

</ion-content>
