<ion-footer class="wrapper">
  @switch (buttonType) {
    @case ('blocked-role') {
      <ion-text color="grey-50" class="ion-text-center"
        role="alert" aria-live="polite">
        <p i18n>Team assessment submissions restricted to participants only.</p>
      </ion-text>
    }
    @default {
      <div class="action-container">
        @if (hasCustomContent) {
          <ng-content></ng-content>
        }
        <div class="button-container"
          [ngClass]="{'with-custom-content': hasCustomContent}">
          <ion-button class="action-button"
            mode="ios"
            [disabled]="disabled$ | async"
            [color]="color"
            (click)="onClick($event)"
            [attr.aria-busy]="(disabled$ | async) ? 'true' : 'false'"
            type="button"
          >{{ text }}</ion-button>
          @if (showResubmit === true) {
            <ion-button class="action-button"
              [disabled]="disabled$ | async"
              mode="ios"
              [color]="color"
              (click)="onResubmit($event)"
              [attr.aria-busy]="(disabled$ | async) ? 'true' : 'false'"
              type="button"
              i18n
            >Resubmit</ion-button>
          }
        </div>
      </div>
    }
  }
</ion-footer>
